node_modules

# Output
.output
.vercel
.svelte-kit/*
!.svelte-kit/tsconfig.json
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

#llm context files

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.vscode
/.continue

.env*
.flaskenv*
!.env.project
!.env.vault
*.xlsx
*.sql
